<a href="#abcd"  target="_blank"   lang="en" >Link</a>

<fantasy {{ {
    id: accommodation.id.id,
    ref: intersectionObserver | default,
    class: 'hotel-item item-order__list-item js_co_item',
    'data-co_alt_htl': isAlternative ? '1'
} | attrs }}>Test</fantasy>

<!-- Remove extra spaces in attribute values -->
<div id="pspIframe " class="  red   hot  ">abcd</div>

<input type="text" name="fromName" value="{{ fromName ?? ' ' }}" />
