<div>
    <img src="/img/posts/08/07/dns-resolution-expl.png" alt="DNS explained">


    <img src="/img/posts/08/07/dns-resolution-expl.png" alt="DNS explained">
</div>

<div>
    <img src="/img/posts/08/07/dns-resolution-expl.png" alt="DNS explained" />

    <img src="/img/posts/08/07/dns-resolution-expl.png" alt="DNS explained" />
</div>
