{{ {
    a: "foo",
    "b#{ar}": "bar",
    2: 4,
    (a): foo,
} }}

<h1 class="{{ {
            ('hero__title--' ~ (locale | lower)): locale in ['CN', 'JP', 'DE', 'RU'],
        } | classes }}">Heading</h1>
