<div>
    <img src="person.jpg">
</div>

<p>
    This is some text This is some text This is some text This is some text This is some text This is some text This is some text This is some text This is some text
</p>

<div class="striped-rows">
    <!-- Pregunta 1 -->
    {% include 'pages/formularios/sub/pregunta-simple.html' %}
    {% set index = index + 1 %}
</div>
