<!--prettier-ignore-start-->
<div><span    class="what-about-this"  >Should not re-format</span></div>
<div><span    class="what-about-this"  >Should not re-format</span></div>
<div><span    class="what-about-this"  >Should not re-format</span></div>
<!-- prettier-ignore-end -->

<div><span    class="what-about-this"  >Should re-format</span></div>

{# prettier-ignore-start #}
<div><span    class="what-about-this"  >Should not re-format</span></div>
<div><span    class="what-about-this"  >Should not re-format</span></div>
<div><span    class="what-about-this"  >Should not re-format</span></div>
{# prettier-ignore-end #}

<div><span    class="what-about-this"  >Should re-format</span></div>
