<!-- prettier-ignore -->
<div><span    class="what-about-this"  >Should not re-format</span></div>
<div><span    class="what-about-this"  >Should re-format</span></div>

{#prettier-ignore#}
<div><span    class="what-about-this"  >Should not re-format</span></div>
<div><span    class="what-about-this"  >Should re-format</span></div>
