{# One #}

{# Two #}

{#comment #}

{# comment#}

{# comment
#}

{% if searchResultFailing %}
            {# This is a Twig comment #}
<li>No results found</li>
{% endif %}

{#- comment -#}

{#-
    comment
    with multiple lines
-#}

{##
# Illustration Hotel Interaction
#
# This image is just of decorative nature and doesn't contain relevant information
# for visually impaired users.
#}
