{% filter upper %}
    This text becomes uppercase
{% endfilter %}

{% filter upper -%}
    This text becomes uppercase
{%- endfilter %}

{%- filter lower|escape('html') | upper | escape('markdown') | lower | upper | escape('markdown') %}
    <strong>SOME TEXT</strong>

    <p>The cat is taking a nap in the sunshine.</p>


{% endfilter -%}
