{% spaceless %}
<div class="qtp-item__text">
    Receive {{ formattedIncentive }} cash back for testing this hotel.
    Or just <span> be </span> happy!
</div>
{% endspaceless %}

{%- spaceless -%}
The quick brown fox
{%- endspaceless -%}
