<ul>
{% for a,b in c | slice(3, c.length) if b is even -%}
    <li>{{ a }} - {{ b }}</li>
{%- else %}
    <li>No results found</li>
{%- endfor %}
</ul>

<ul>
    {% for key,value in c[:c.length - 1] if value is defined and not value is even %}
        <li>{{ key }} - {{ value }}</li>
    {% else -%}
        {% if regionName is empty %}
        <li><span><!--//--></span>No results found</li>
        {% endif %}
    {% endfor -%}
</ul>
