{{variable1}}

{{   variable2 }}

{{
variable3 }}

{{

       variable4 }}

{{
variable5
}}

<div>{{ variable7 }}</div>

{{ variable8_1 }}{{ variable8_2 }}

<div {{ variable9 }}></div>

<div class="{{ variable10_1 }} {{ variable10_2 }}"></div>

<span>      {{ variable11 }}</span>

<div>
  {{ variable12 }}
  {{ variable13 }}
</div>

{{ variable14.foo }}
{{ variable15["bar"] }}
{{ variable16["bar"].foo }}
{{ variable17.foo[bar] }}
{{ variable18[1] }}
{{ variable19.a.b.c.d }}
{{ variable20_1 }}         {{ variable20_2 }}
