<div key="1" class="test">
    {{ message | lower | upper }}{% flush %}
    <span class="">{{ _context.name[1:] }}</span>
    {{ block('test') }}
    {{ include('test.twig') }}
    {% include 'test.twig' %}
</div>

{% include './Star.twig' only %}

{%- include "./Flag.twig" with {
"styleModifier": flagModifiers,
"dataVariables": dataVariables,
"text": "ie_topdeal"
} only %}

<div>
{% include "./Flag.twig" with {
"styleModifier": flagModifiers,
"dataVariables": dataVariables,
"text": "ie_topdeal"
} only -%}
</div>

{% include 'foo/' ~ BRT %}
{% include "#{filename}" %}
